In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('explore_spark').config('spark.master', 'local').getOrCreate()

In [34]:
df = spark.read.load('./employees1000.csv',
                    format='csv', sep=',', inferSchema=True, header=True)

In [37]:
df_schema = 'emp_no INT, birth_date DATE, first_name STRING, last_name STRING, gender STRING, hire_date DATE'

df = spark.read.load('./employees1000.csv',
                    format='csv', sep=',', schema=df_schema, header=True)

In [16]:
df.show(5)

+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|
+------+----------+----------+---------+------+----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|
+------+----------+----------+---------+------+----------+
only showing top 5 rows

In [36]:
df.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- hire_date: date (nullable = true)

In [24]:
df.select('first_name', 'gender').show(2)

+----------+------+
|first_name|gender|
+----------+------+
|    Georgi|     M|
|   Bezalel|     F|
+----------+------+
only showing top 2 rows

In [25]:
df.filter(df['gender'] == 'M').show(2)

+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|
+------+----------+----------+---------+------+----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|
+------+----------+----------+---------+------+----------+
only showing top 2 rows

In [26]:
df.filter(df['gender'] == 'M').count()

609

In [28]:
df.groupBy(df['gender']).agg({'hire_date':'count'}).show()

+------+----------------+
|gender|count(hire_date)|
+------+----------------+
|     F|             390|
|     M|             609|
+------+----------------+

In [31]:
#precisa setar #hadoop_home
#HADOOP_HOME and hadoop.home.dir are unset
# java.lang.RuntimeException: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems

# df.createOrReplaceGlobalTempView('employees')

# spark.sql('select * from employees order by last_name').show()

# spark.sql('select last_name, year(hire_date) from employees order by last_name').show()