In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../Data/movie.features.complete.filtered.csv')

In [9]:
df.head(5)

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,popularIsOriginal,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
0,tt0001184,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,58,"Adventure,Drama",3.8,21,1,...,0,0,0,0,0,0,0,0,0,0
1,tt0001498,The Battle of Trafalgar,The Battle of Trafalgar,0,1911,51,War,7.8,14,1,...,0,0,0,0,0,0,0,0,1,0
2,tt0001790,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0,1913,60,Drama,6.0,52,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0001911,Nell Gwynne,Sweet Nell of Old Drury,0,1911,50,"Biography,Drama,History",3.6,24,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0002199,From the Manger to the Cross,From the Manger to the Cross,0,1912,60,"Biography,Drama",5.8,624,1,...,0,0,0,0,0,0,0,0,0,0

## Genres

In [11]:
df.columns

Index(['tconst', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear',
       'runtimeMinutes', 'genres', 'averageRating', 'numVotes',
       'popularIsOriginal', 'avgRatingPerFilmActors',
       'avgNumVotesPerFilmActors', 'avgRatingPerFilmProducers',
       'avgNumVotesPerFilmProducers', 'avgRatingPerFilmCrew',
       'avgNumVotesPerFilmCrew', 'numberOfTranslations', 'Action', 'Adult',
       'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi',
       'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'],
      dtype='object')

In [14]:
df[df['tconst']=='tt0001184'][['genres','Action', 'Adult',
       'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Film-Noir']]

,genres,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,Film-Noir
0,"Adventure,Drama",0,0,1,0,0,0,0,0,1,0,0,0

In [15]:
df[df['tconst']=='tt0001184'][['genres','Action','History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi',
       'Sport', 'Talk-Show', 'Thriller', 'War', 'Western']]

,genres,Action,History,Horror,Music,Musical,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
0,"Adventure,Drama",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Actors, Producers and Crew

In [19]:
df_principals = pd.read_csv('../Data/title.principals.tsv', delimiter='\t')

In [40]:
df_titles = pd.read_csv('../Data/title.basics.tsv', delimiter='\t') #join ratings

C:\TEMP\ipykernel_7280\450410568.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv('../Data/title.basics.tsv', delimiter='\t')

In [20]:
df_principals.head(5)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [21]:
df_principals[df_principals['tconst']=='tt0001184']

         tconst  ordering     nconst         category   job characters
4635  tt0001184         1  nm0699807          actress    \N         \N
4636  tt0001184         2  nm0735618            actor    \N         \N
4637  tt0001184         3  nm0063413         director    \N         \N
4638  tt0001184         4  nm0550220         director    \N         \N
4639  tt0001184         5  nm0049370           writer  play         \N
4640  tt0001184         6  nm0063412  cinematographer    \N         \N

In [ ]:
actors = ['actress', 'actor', 'self']
producers = ['writer', 'director', 'producer']
crew = ['composer', 'editor', 'cinematographer', 'archive_sound', 'production_designer', 'archive_footage']

In [37]:
df_principals[df_principals['nconst']=='nm0699807']['tconst']

4635     tt0001184
27687    tt0004892
Name: tconst, dtype: object

In [41]:
df_titles[df_titles['tconst']=='tt0004892']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
4831,tt0004892,movie,El amor hace justicia,El amor hace justicia,0,1915,\N,\N,\N

In [42]:
df_titles[df_titles['tconst'].isin(df_principals[df_principals['nconst']=='nm0699807']['tconst'])][['tconst','averageRating','numVotes']]

KeyError: "['averageRating', 'numVotes'] not in index"

In [36]:
df[df['tconst'].isin(df_principals[df_principals['nconst']=='nm0735618']['tconst'])][['tconst','averageRating','numVotes']]

      tconst  averageRating  numVotes
0  tt0001184            3.8        21

In [34]:
df[df['tconst']=='tt0001184'][['avgRatingPerFilmActors','avgNumVotesPerFilmActors']]

   avgRatingPerFilmActors  avgNumVotesPerFilmActors
0                4.533333                 25.333333

In [ ]:
df[df['tconst'].isin(df_principals[df_principals['nconst']=='nm0699807']['tconst'])][['tconst','averageRating','numVotes']]